@inject DesktopNotification WindowsNotification
@inject MusicPlayerService PlayerService
<div class="d-flex align-start @Class">

    <MudIconButton Icon="@Icons.Material.Filled.Minimize"
                   Size="Size.Small"
                   Style="@ButtonStyle"
                   OnClick=@(() =>Minimize())></MudIconButton>
    <MudIconButton Icon=@(@_maximizerIcon)
                   Disabled="true"
                   Style="@ButtonStyle"
                   Size="Size.Small"
                   OnClick=@(() =>Maximize())></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Filled.Close"
                   Style="@ButtonStyle"
                   Size="Size.Small"
                   OnClick=@(() =>Close())></MudIconButton>
</div>
@code {
    [Parameter]
    public string ButtonStyle { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        SetTitle($"一起听");
        PlayerService.NewMusicAdded += (_, __) =>
        {
            var metadata = PlayerService.Metadata;
            if (metadata == null)
            {
                return;
            }
            SetTitle($"{metadata.Name} - {metadata.Artist}");
        };
    }

    private void SetTitle(string title)
    {
        WindowsNotification.SetTitle(title);
    }

    private bool _isMaximizer = false;
    private string _maximizerIcon = Icons.Material.Filled.Fullscreen;
    private void Minimize()
    {
        WindowsNotification.MinimizeWindow();
    }

    private void Maximize()
    {
        if (_isMaximizer)
        {
            WindowsNotification.ShowNormalWindow();
            _maximizerIcon = Icons.Material.Filled.Fullscreen;
        }
        else
        {
            WindowsNotification.MaximizeWindow();
            _maximizerIcon = Icons.Material.Filled.CloseFullscreen;
        }
        _isMaximizer = !_isMaximizer;
    }
    private void Close()
    {
        WindowsNotification.CloseWindow();
    }
}
